<div class="container">
	<h1>My Friends</h1>
	<div class="row">
		<div class="col-md-12" >
		

		<div id="search" class="pull-right">
          <input type="text" class="form-control" ng-model="searchText" placeholder="Search" >
          <i class="glyphicon glyphicon-search form-control-feedback left"></i>
        </div>

			<ul>
				<li class="people-list" ng-repeat="data in people | orderBy: '-created' | filter:{name:searchText || '' } ">
					<a class="person" href="#/friend_view/{{data.id}}"> <img src="{{data.avatar_file}}" alt="{{data.name}}" /> <span class="name">{{data.name}}</span> <span class="email">{{data.email}}</span> <span class="job-title">{{data.job_title}}</span> </a>
					<a class="delete" ng-click="deletePerson(data.id)"  href=""></a>
				</li>
			</ul>

		</div>

		 <div class="col-md-12" ng-show="people.length == 0">
        <div class="col-md-12">
            <h4>No friends found</h4>
        </div>
    </div>
	
	</div>
</div>