<div class="container">

	<h1>{{person.name}}'s Profile</h1>
	<a class="back-home" href="#/"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
	<div class="clearfix"></div>

	<div id="profile" class="col-md-12">
		<div class="col-md-2">
			<span class="thumb"><img src="{{person.avatar_file}}" alt="{{person.name}}" /></span>
		</div>

		<div class="col-md-10">
		<form name="form"  ng-submit="submitForm()" novalidate >
			<div class= "form-group" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
				<label class= "col-md-3"> Name <span>*</span></label>
				<div class="col-md-5">
					<input name="name" ng-model="person.name" type= "text" class= "form-control" placeholder="Name"  required />
					<p class="help-inline" ng-show="form.name.$invalid && !form.name.$pristine">Person name is required.</p>
				</div>
			</div>
			<div class= "form-group">
				<label class= "col-md-3"> Job Title </label>
				<div class="col-md-5">
					<input type="text" value="" ng-model="person.job_title" class= "form-control" />
				</div>
			</div>

			<div class= "form-group" ng-class="{ 'has-error' : form.email.$invalid && !form.email.$pristine }">
				<label class= "col-md-3"> Email address <span>*</span></label>
				<div class="col-md-5">
					<input name="email" value="" ng-model="person.email" type= "email" class= "form-control" required />
					<p class="help-inline" ng-show="form.name.$invalid && !form.name.$pristine">A valid email address is required.</p>
					<p class="help-inline" ng-show="form.email.$error.email">Invalid email address.</p>
				</div>
			</div>
			<div class= "form-group">
				<label class= "col-md-3"> Mobile Number </label>
				<div class="col-md-5">
					<input type="number" value="" ng-model="person.mobile" class= "form-control" maxlength="10" />
				</div>
			</div>
			<div class= "form-group">
				<label class= "col-md-3"> Telephone Number </label>
				<div class="col-md-5">
					<input type="number" value="" ng-model="person.telephone" class= "form-control" maxlength="10" />
				</div>
			</div>

			<div class= "form-group">
				<label class= "col-md-3"> Description </label>
				<div class="col-md-5">
					<textarea value="" ng-model="person.description" class= "form-control" ></textarea>
				</div>
			</div>

			<div class= "form-group">
				<label class= "col-md-3"> Skills </label>
				<div class="col-md-5">
					<tags-input ng-model="skills"></tags-input>

				</div>
			</div>

			<button ng-click="deletePerson(person)" ng-show="person.id" class="btn btn-danger">
				Delete
			</button>
			<button ng-click="savePerson(person)" class="btn btn-success" ng-disabled="form.$invalid">
				Update Profile
			</button>
		</div>
		</form>
	</div>
</div>
