
<div class="container">
	<h1>Create New Friend</h1>
	<div id="create-new" class="col-md-12">
		
		<form name="form"  ng-submit="submitForm()" novalidate >
			
		<div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
			<label class= "col-md-2"> Name <span>*</span></label>
			<div class="col-md-5">
				<input type="text" name="name" class="form-control" ng-model="person.name" placeholder="First and Last Name" required />
				<p class="help-inline" ng-show="form.name.$invalid && !form.name.$pristine">Person name is required.</p>
			</div>
		</div>
		<div class= "form-group">
			<label class= "col-md-2"> Job Title </label>
			<div class="col-md-5">
				<input name="" value="" ng-model="person.job_title" type= "text" class= "form-control" placeholder="eg. Developer or Designer" />
			</div>
		</div>

		<div class="form-group" ng-class="{ 'has-error' : form.email.$invalid && !form.email.$pristine }">
			<label class= "col-md-2"> Email address <span>*</span></label>
			<div class="col-md-5">
				<input name="email" value="" ng-model="person.email" type= "email" class= "form-control" placeholder="Email Address" required />
				<p class="help-inline" ng-show="form.name.$invalid && !form.name.$pristine">A valid email address is required.</p>
				<p class="help-inline" ng-show="form.email.$error.email">Invalid email address.</p>
			</div>
		</div>

		<div class= "form-group">
			<label class= "col-md-2"> Mobile </label>
			<div class="col-md-5">
				<input type="number" value="" ng-model="person.mobile" class= "form-control" placeholder="Mobile Number" />
			</div>
		</div>

		<div class= "form-group">
			<label class= "col-md-2"> Telephone </label>
			<div class="col-md-5">
				<input type="number" value="" ng-model="person.telephone" class= "form-control" placeholder="Telephone Number"  />
			</div>
		</div>

		<div class= "form-group">
			<label class= "col-md-2"> Description </label>
			<div class="col-md-5">
				<textarea value="" ng-model="person.description" class= "form-control" placeholder="Please add description here" ></textarea>
			</div>
		</div>

		<div class= "form-group">
			<label class= "col-md-2"> Skills </label>
			<div class="col-md-5">
				<tags-input ng-model="person.skills"></tags-input>
			</div>
		</div>

		<button ng-click="savePerson(person); confirm()" class="btn btn-success" ng-disabled="form.$invalid">
			Add Friend
		</button>
	</div>
	</form>
</div>